@import './base.css';

#app {
  margin: 0 auto;
  overflow: hidden;
  max-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.router-link-active {
    text-decoration: underline;
    text-decoration-thickness: auto;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.3rem;
  }

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
